<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>AniWhere</title>
</head>

<body>

    <div class="header">
        <div class="showcase-header">
            <h1 class="logo-form">AniWhere</h1>
        </div>
    </div>


    <div class="form-section">
        <h1 class="form-header">Login</h1>
        <form action="/login" method="POST" autocomplete="off">
            <label for="email">Enter your email</label>
            <input type="email" name="email" id="email" class="form-control" value={{email}}>
            <label for="password">Enter your password</label>
            <input type="password" name="password" id="password" class="form-control" value={{password}}>
            <button type="submit" class="btn btn-form">Login</button>
        </form>
    </div>


</body>

</html>