<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>AniWhere</title>
</head>

<body>

    <div class="header">
        <div class="showcase-header">
            <h1 class="logo-form">AniWhere</h1>
        </div>
    </div>


    <div class="form-section">
        <h1 class="form-header">Register</h1>
        <!-- Loop through errors array and display error, if any -->
        {{#each errors}}
            <div class="error">
                <p>{{text}}</p>
            </div>
        {{/each}}
        <form action="/register" method="POST" autocomplete="off">
            <label for="email">Enter an email</label>
            <input type="email" name="email" id="email" class="form-control" value={{email}}>
            <label for="password">Enter a password</label>
            <input type="password" name="password" id="password" class="form-control" value={{password}}>
            <label for="password">Confirm password</label>
            <input type="password" name="password2" id="password2" class="form-control" value={{password2}}>
            <button type="submit" class="btn btn-form">Register</button>
        </form>
    </div>
<p class="">Already Have An Account? <a href="/login" class="account">Login Here</a></p>

</body>

</html>