<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <title>AniWhere</title>
</head>

<body>

    <div class="header">
        <div class="showcase-header">
            <h1 class="logo-form">AniWhere</h1>
        </div>
    </div>
  
  
    <div class="form-section">
        <h1 class="form-header">Create an account to login</h1>
        <a href="/register" class="btn btn-account">Register</a>
        <a href="/login" class="btn btn-account">Login</a>
</div>

  
</body>

</html>
